.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-3BYo9Vr4LmDZ);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-NgNZQmLI2RgE);
  font-family: var(--token-oTw11vicOuru);
  font-size: var(--token-xeAC2QH0S0qV);
  line-height: var(--token-qByzcOhQ48NR);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Suv-JuVyFl2N);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-XQn0JII2AkLi);
  outline-offset: 1px;
  outline-color: var(--token-3BYo9Vr4LmDZ);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-bW84I0QIt42b);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-UVQeNzlIrXZr);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-2SMhXj9hsBpv);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-3k2i3_T-zTo7);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-l46IVJVV5JFR);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-1zz_e4QZLQ2P);
  font-size: var(--token-QlxchvzRJl5B);
  column-gap: var(--token-XQn0JII2AkLi);
  row-gap: 0px;
  border-radius: var(--token-zVIByrkq_WVB);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-QlxchvzRJl5B);
  line-height: var(--token-1zz_e4QZLQ2P);
  column-gap: var(--token-zVIByrkq_WVB);
  row-gap: 0px;
  border-radius: var(--token-zVIByrkq_WVB);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-fsnmrtWajnqp);
  line-height: var(--token-6EJ074r8To0y);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-fsnmrtWajnqp);
  line-height: var(--token-6EJ074r8To0y);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-bFHd-3RV37Fn);
  border-radius: var(--token-Suv-JuVyFl2N);
}
.softBackgroundcolor_neutral {
  background: var(--token-s4nATbHhl0r3);
}
.softBackgroundcolor_muted {
  background: var(--token-RBryzKaIdtCX);
}
.softBackgroundcolor_success {
  background: var(--token-E1ZX0L0ZipaL);
}
.softBackgroundcolor_warning {
  background: var(--token-PB146sCoEETL);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-QC5xAaTwh48M);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Suv-JuVyFl2N);
  border: 0px solid var(--token-w5JJKKy219s7);
}
.bordercolor_neutral {
  border-color: var(--token-62Mh4wpZSMZC);
}
.bordercolor_muted {
  border-color: var(--token-XwQg-7Q8DVzl);
}
.bordercolor_success {
  border-color: var(--token-lbxNO1lwB2m-);
}
.bordercolor_warning {
  border-color: var(--token-PKXV23a5jXG6);
}
.bordercolor_errorDestructive {
  border-color: var(--token-eJMoRiy5FD7A);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Suv-JuVyFl2N);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-BOEyZyRQzTr8);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-h6bn_RxYx0Q0);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-NtoZm4cXgLyk);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__sEpCb {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-Suv-JuVyFl2N) var(--token-oFclZASxkQLl);
}
.freeBox__sEpCb > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-Suv-JuVyFl2N));
  width: calc(100% + var(--token-Suv-JuVyFl2N));
}
.freeBox__sEpCb > :global(.__wab_flex-container) > *,
.freeBox__sEpCb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sEpCb > :global(.__wab_flex-container) > picture > img,
.freeBox__sEpCb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-Suv-JuVyFl2N);
}
.freeBoxsize_extraSmall__sEpCbnwgwo {
  padding: var(--token-zVIByrkq_WVB) var(--token-Suv-JuVyFl2N);
}
.freeBoxsize_small__sEpCbPdVlS {
  padding: var(--token-Suv-JuVyFl2N) var(--token-NgNZQmLI2RgE);
}
.freeBoxsize_large__sEpCbvHua {
  padding-top: var(--token-zVIByrkq_WVB);
  padding-bottom: var(--token-zVIByrkq_WVB);
}
.freeBoxsize_extraLarge__sEpCbMm96W {
  padding-left: var(--token-EKghAnXZ011N);
  padding-right: var(--token-EKghAnXZ011N);
}
.freeBoxroundedFull__sEpCblK1E5 {
  padding-right: var(--token-EKghAnXZ011N);
  padding-left: var(--token-EKghAnXZ011N);
}
.freeBox__aNy7Q {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__aNy7QaXsEp {
  display: flex;
}
.slotTargetStart {
  color: var(--token-JZis6uVYq18g);
}
.slotTargetStartcolor_neutral {
  color: var(--token-GhszAvvAX0NJ);
}
.slotTargetStartcolor_muted {
  color: var(--token-3WGhC36u45Cd);
}
.slotTargetStartcolor_success {
  color: var(--token-MSSZW8rR0www);
}
.slotTargetStartcolor_warning {
  color: var(--token-UnEMoAg4U1em);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-sAnEzRZxAqb7);
}
.slotTargetStarttype_soft {
  color: var(--token-Eobkr6y1oYrD);
}
.slotTargetStarttype_bordered {
  color: var(--token-Eobkr6y1oYrD);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-QlxchvzRJl5B);
}
.slotTargetStartsize_small {
  font-size: var(--token-QlxchvzRJl5B);
}
.slotTargetStartsize_large {
  font-size: var(--token-fsnmrtWajnqp);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-fsnmrtWajnqp);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-enu40kLyZTUr);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-enu40kLyZTUr);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-vrWXR_NiAuea);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-vrWXR_NiAuea);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-pVCPuuwijcE4);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-pVCPuuwijcE4);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-JZ4aGVcMuFYY);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-JZ4aGVcMuFYY);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-BiElJtuWH-DT);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-BiElJtuWH-DT);
}
.svg__vyCBa {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-JZis6uVYq18g);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-GhszAvvAX0NJ);
}
.slotTargetLabelcolor_muted {
  color: var(--token-3WGhC36u45Cd);
}
.slotTargetLabelcolor_success {
  color: var(--token-MSSZW8rR0www);
}
.slotTargetLabelcolor_warning {
  color: var(--token-UnEMoAg4U1em);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-sAnEzRZxAqb7);
}
.slotTargetLabeltype_soft {
  color: var(--token-Eobkr6y1oYrD);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Eobkr6y1oYrD);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-enu40kLyZTUr);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-vrWXR_NiAuea);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-enu40kLyZTUr);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-pVCPuuwijcE4);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-vrWXR_NiAuea);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-JZ4aGVcMuFYY);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-pVCPuuwijcE4);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-BiElJtuWH-DT);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-JZ4aGVcMuFYY);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-BiElJtuWH-DT);
}
.text__sjZaP {
  white-space: pre;
}
.freeBox__yIZoL {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__yIZoLd3IAe {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-JZis6uVYq18g);
}
.slotTargetEndcolor_neutral {
  color: var(--token-GhszAvvAX0NJ);
}
.slotTargetEndcolor_muted {
  color: var(--token-3WGhC36u45Cd);
}
.slotTargetEndcolor_success {
  color: var(--token-MSSZW8rR0www);
}
.slotTargetEndcolor_warning {
  color: var(--token-UnEMoAg4U1em);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-sAnEzRZxAqb7);
}
.slotTargetEndtype_soft {
  color: var(--token-Eobkr6y1oYrD);
}
.slotTargetEndtype_bordered {
  color: var(--token-Eobkr6y1oYrD);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-QlxchvzRJl5B);
}
.slotTargetEndsize_small {
  font-size: var(--token-QlxchvzRJl5B);
}
.slotTargetEndsize_large {
  font-size: var(--token-fsnmrtWajnqp);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-fsnmrtWajnqp);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-enu40kLyZTUr);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-enu40kLyZTUr);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-vrWXR_NiAuea);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-vrWXR_NiAuea);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-pVCPuuwijcE4);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-pVCPuuwijcE4);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-JZ4aGVcMuFYY);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-JZ4aGVcMuFYY);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-BiElJtuWH-DT);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-BiElJtuWH-DT);
}
.svg__dZxX2 {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
