.ariaSlider:global(.__wab_instance) {
  position: relative;
  box-sizing: border-box;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  color: var(--token-8bvv-gBG7EgC);
  font-family: var(--token-oTw11vicOuru);
  font-size: var(--token-xeAC2QH0S0qV);
  line-height: var(--token-qByzcOhQ48NR);
  width: 100%;
  row-gap: var(--token-EKghAnXZ011N);
}
.ariaSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__psTrf {
  display: flex;
  flex-direction: row;
}
.freeBox__psTrf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-NgNZQmLI2RgE));
  width: calc(100% + var(--token-NgNZQmLI2RgE));
}
.freeBox__psTrf > :global(.__wab_flex-container) > *,
.freeBox__psTrf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__psTrf > :global(.__wab_flex-container) > picture > img,
.freeBox__psTrf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-NgNZQmLI2RgE);
}
.text__zxQ7X {
  position: relative;
}
.freeBox__mwJn3 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-Suv-JuVyFl2N);
  padding-bottom: var(--token-Suv-JuVyFl2N);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-cUCuvyLPcJh_);
  height: var(--token-NgNZQmLI2RgE);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-NgNZQmLI2RgE);
  width: 100%;
  min-width: 0;
}
.ariaSlider[data-disabled] .ariaSliderTrack:global(.__wab_instance) {
  cursor: not-allowed;
}
.sliderThumb__nzAr3:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-zVIByrkq_WVB);
}
.foreground {
  display: block;
  background: var(--token-3BYo9Vr4LmDZ);
  height: var(--token-NgNZQmLI2RgE);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
