.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.section__rqf7W {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  margin-bottom: 0px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px 34px;
}
.section__rqf7W > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rqf7W {
    padding-top: 0px;
    padding-bottom: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__rqf7W > * {
    grid-column: 4;
  }
}
.menuStack:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuStack:global(.__wab_instance) {
    margin-top: 12px;
  }
}
.section__qIuaL {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 23px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section__qIuaL > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__qIuaL {
    margin-bottom: 24px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__qIuaL > * {
    grid-column: 4;
  }
}
.h1___1DWzf {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 23px;
  font-size: 32px;
  font-weight: 500;
  min-width: 0;
}
.text__knHLu {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.section___6Elm {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px 0px 96px;
}
.section___6Elm > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section___6Elm > * {
    grid-column: 4;
  }
}
.h1__lk2W7 {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  font-size: 32px;
  font-weight: 500;
  min-width: 0;
}
.columns__wlDbb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__wlDbb > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__wlDbb > :global(.__wab_flex-container) > *,
.columns__wlDbb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wlDbb > :global(.__wab_flex-container) > picture > img,
.columns__wlDbb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__wlDbb > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__wlDbb > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__wlDbb > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wlDbb {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wlDbb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wlDbb > :global(.__wab_flex-container) > *,
  .columns__wlDbb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wlDbb > :global(.__wab_flex-container) > picture > img,
  .columns__wlDbb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wlDbb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___3Jmxc {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  outline-width: medium;
  outline-style: none;
  box-shadow: 0px 4px 12px 0px var(--token-hC5fePqdkU4U);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img__vqXri {
  object-fit: cover;
  max-width: 200px;
}
.img__vqXri > picture > img {
  object-fit: cover;
}
.freeBox__vQes8 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__f2Fdy {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 20px;
}
.svg___3GyFy {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-3BYo9Vr4LmDZ);
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  height: 1em;
  margin: 5px;
}
.text__omeBn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 9px;
  margin: 0px;
}
.column__pPVrC {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 12px 0px var(--token-hC5fePqdkU4U);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img__wlxZs {
  object-fit: cover;
  max-width: 200px;
  height: 200px;
  width: auto;
  flex-shrink: 0;
}
.img__wlxZs > picture > img {
  object-fit: cover;
}
.freeBox__lFsX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ckOvu {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 20px;
}
.svg__dWl5W {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-3BYo9Vr4LmDZ);
  align-self: center;
  height: 1em;
  margin: 5px;
}
.text__r9Lro {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 9px;
  margin: 0px;
}
.column__aq5NO {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 12px 0px var(--token-hC5fePqdkU4U);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img__ojiFc {
  object-fit: cover;
  max-width: 200px;
  height: 200px;
  width: auto;
  flex-shrink: 0;
}
.img__ojiFc > picture > img {
  object-fit: cover;
}
.freeBox__klOg {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___0PjKf {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 20px;
}
.svg___8Szkq {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-3BYo9Vr4LmDZ);
  align-self: center;
  height: 1em;
  margin: 5px;
}
.text___7GwkF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 9px;
  margin: 0px;
}
.columns__dtsCs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__dtsCs > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__dtsCs > :global(.__wab_flex-container) > *,
.columns__dtsCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dtsCs > :global(.__wab_flex-container) > picture > img,
.columns__dtsCs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__dtsCs > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dtsCs > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__dtsCs > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtsCs {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtsCs > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtsCs > :global(.__wab_flex-container) > *,
  .columns__dtsCs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dtsCs > :global(.__wab_flex-container) > picture > img,
  .columns__dtsCs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dtsCs > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7Rcqw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 12px 0px var(--token-hC5fePqdkU4U);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img__te64S {
  object-fit: cover;
  max-width: 200px;
}
.img__te64S > picture > img {
  object-fit: cover;
}
.freeBox__sviMs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__ssPe {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 20px;
}
.svg__wgUvg {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-3BYo9Vr4LmDZ);
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  height: 1em;
  margin: 5px;
}
.text___3DKbV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 9px;
  margin: 0px;
}
.column__dvoj {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 12px 0px var(--token-hC5fePqdkU4U);
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
}
.img__dqv4T {
  object-fit: cover;
  max-width: 200px;
}
.img__dqv4T > picture > img {
  object-fit: cover;
}
.freeBox__ykl20 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text___8Dzee {
  width: auto;
  height: auto;
  max-width: 100%;
  color: #000000;
  font-size: 20px;
}
.svg__aHvW0 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-3BYo9Vr4LmDZ);
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  height: 1em;
  margin: 5px;
}
.text__fOkfm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 9px;
  margin: 0px;
}
.column__qtu20 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 4px 16px 0px var(--token-UVQeNzlIrXZr);
  min-width: 0;
  border-radius: 12px;
  padding: 8px;
}
.img__mBDe {
  object-fit: cover;
  max-width: 200px;
}
.img__mBDe > picture > img {
  object-fit: cover;
}
.freeBox__ejNtX {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.link__c7Tlp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.svg___0T7JV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-3BYo9Vr4LmDZ);
  position: relative;
  left: auto;
  top: auto;
  z-index: 1;
  align-self: center;
  height: 1em;
  margin: 5px;
}
.text___6ItfK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 16px;
  min-width: 0;
  padding: 9px;
  margin: 0px;
}
