@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-TzFsmtKtHjUd: 2rem;
  --plasmic-token-size-32: var(--token-TzFsmtKtHjUd);
  --token-c_AIzxsYeXhC: 1rem;
  --plasmic-token-size-16: var(--token-c_AIzxsYeXhC);
  --token-NgNZQmLI2RgE: 0.5rem;
  --plasmic-token-size-8: var(--token-NgNZQmLI2RgE);
  --token-vrWXR_NiAuea: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-vrWXR_NiAuea);
  --token-zVIByrkq_WVB: 0.25rem;
  --plasmic-token-size-4: var(--token-zVIByrkq_WVB);
  --token-EKghAnXZ011N: 0.75rem;
  --plasmic-token-size-12: var(--token-EKghAnXZ011N);
  --token-aWka62WRg6VN: 1.5rem;
  --plasmic-token-size-24: var(--token-aWka62WRg6VN);
  --token-fsnmrtWajnqp: 1.25rem;
  --plasmic-token-font-lg: var(--token-fsnmrtWajnqp);
  --token-jIKJuPqBVkx9: #ffffff;
  --plasmic-token-basic-container-background: var(--token-jIKJuPqBVkx9);
  --token-3BYo9Vr4LmDZ: #2563eb;
  --plasmic-token-brand-brand: var(--token-3BYo9Vr4LmDZ);
  --token-oTw11vicOuru: Inter;
  --plasmic-token-sans-serif: var(--token-oTw11vicOuru);
  --token-xeAC2QH0S0qV: 1rem;
  --plasmic-token-font-md: var(--token-xeAC2QH0S0qV);
  --token-qByzcOhQ48NR: 1.25;
  --plasmic-token-line-height-md: var(--token-qByzcOhQ48NR);
  --token-Suv-JuVyFl2N: 0.375rem;
  --plasmic-token-size-6: var(--token-Suv-JuVyFl2N);
  --token-bW84I0QIt42b: #374151;
  --plasmic-token-neutral-neutral: var(--token-bW84I0QIt42b);
  --token-l46IVJVV5JFR: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-l46IVJVV5JFR);
  --token-UVQeNzlIrXZr: #6b7280;
  --plasmic-token-muted-muted: var(--token-UVQeNzlIrXZr);
  --token-QlxchvzRJl5B: 0.75rem;
  --plasmic-token-font-sm: var(--token-QlxchvzRJl5B);
  --token-1zz_e4QZLQ2P: 1;
  --plasmic-token-line-height-sm: var(--token-1zz_e4QZLQ2P);
  --token-6EJ074r8To0y: 1.4;
  --plasmic-token-line-height-lg: var(--token-6EJ074r8To0y);
  --token-XQn0JII2AkLi: 0.125rem;
  --plasmic-token-size-2: var(--token-XQn0JII2AkLi);
  --token-2SMhXj9hsBpv: #16a34a;
  --plasmic-token-success-success: var(--token-2SMhXj9hsBpv);
  --token-3k2i3_T-zTo7: #facc15;
  --plasmic-token-warning-warning: var(--token-3k2i3_T-zTo7);
  --token-bFHd-3RV37Fn: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-bFHd-3RV37Fn);
  --token-s4nATbHhl0r3: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-s4nATbHhl0r3);
  --token-RBryzKaIdtCX: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-RBryzKaIdtCX);
  --token-E1ZX0L0ZipaL: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-E1ZX0L0ZipaL);
  --token-PB146sCoEETL: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-PB146sCoEETL);
  --token-QC5xAaTwh48M: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-QC5xAaTwh48M);
  --token-w5JJKKy219s7: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-w5JJKKy219s7);
  --token-62Mh4wpZSMZC: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-62Mh4wpZSMZC);
  --token-XwQg-7Q8DVzl: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-XwQg-7Q8DVzl);
  --token-lbxNO1lwB2m-: #86efac;
  --plasmic-token-success-success-border: var(--token-lbxNO1lwB2m-);
  --token-PKXV23a5jXG6: #fde047;
  --plasmic-token-warning-warning-border: var(--token-PKXV23a5jXG6);
  --token-eJMoRiy5FD7A: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-eJMoRiy5FD7A);
  --token-BOEyZyRQzTr8: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-BOEyZyRQzTr8);
  --token-h6bn_RxYx0Q0: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-h6bn_RxYx0Q0);
  --token-NtoZm4cXgLyk: #00000033;
  --plasmic-token-interaction-pressed: var(--token-NtoZm4cXgLyk);
  --token-oFclZASxkQLl: 0.625rem;
  --plasmic-token-size-10: var(--token-oFclZASxkQLl);
  --token-JZis6uVYq18g: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-JZis6uVYq18g);
  --token-GhszAvvAX0NJ: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-GhszAvvAX0NJ);
  --token-3WGhC36u45Cd: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-3WGhC36u45Cd);
  --token-Eobkr6y1oYrD: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-Eobkr6y1oYrD);
  --token-UnEMoAg4U1em: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-UnEMoAg4U1em);
  --token-MSSZW8rR0www: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-MSSZW8rR0www);
  --token-sAnEzRZxAqb7: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-sAnEzRZxAqb7);
  --token-enu40kLyZTUr: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-enu40kLyZTUr);
  --token-pVCPuuwijcE4: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-pVCPuuwijcE4);
  --token-JZ4aGVcMuFYY: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-JZ4aGVcMuFYY);
  --token-BiElJtuWH-DT: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-BiElJtuWH-DT
  );
  --token-9PnDWw8idJJ2: #d1d5db;
  --plasmic-token-basic-border: var(--token-9PnDWw8idJJ2);
  --token-8bvv-gBG7EgC: #030712;
  --plasmic-token-basic-text-primary: var(--token-8bvv-gBG7EgC);
  --token-hC5fePqdkU4U: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-hC5fePqdkU4U);
  --token-CdsySwGqNOR1: 1.25rem;
  --plasmic-token-size-20: var(--token-CdsySwGqNOR1);
  --token-QuWsHq-Nn59D: #9ca3af;
  --plasmic-token-basic-ring: var(--token-QuWsHq-Nn59D);
  --token-8WpnordSLgxS: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-8WpnordSLgxS);
  --token-cUCuvyLPcJh_: #e5e7eb;
  --plasmic-token-basic-input-background: var(--token-cUCuvyLPcJh_);
  --token-4VJ4NZMOEUoC: #0a0a0a80;
  --plasmic-token-basic-overlay-background: var(--token-4VJ4NZMOEUoC);
  --token-C1y4-jgMdDkh: #171717;
  --plasmic-token-basic-container-background-dark: var(--token-C1y4-jgMdDkh);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-HUsRLazyHgPm_font-family: "Inter", sans-serif;
  --mixin-HUsRLazyHgPm_font-size: 16px;
  --mixin-HUsRLazyHgPm_font-weight: 400;
  --mixin-HUsRLazyHgPm_font-style: normal;
  --mixin-HUsRLazyHgPm_color: #535353;
  --mixin-HUsRLazyHgPm_text-align: left;
  --mixin-HUsRLazyHgPm_text-transform: none;
  --mixin-HUsRLazyHgPm_line-height: 1.5;
  --mixin-HUsRLazyHgPm_letter-spacing: normal;
  --mixin-HUsRLazyHgPm_white-space: pre-wrap;
  --mixin-HUsRLazyHgPm_user-select: text;
  --mixin-HUsRLazyHgPm_text-decoration-line: none;
  --mixin-HUsRLazyHgPm_text-overflow: clip;
  --mixin-gVZcxQoZhchc_color: #000000;
  --mixin-gVZcxQoZhchc_font-weight: 700;
  --mixin-gVZcxQoZhchc_font-size: 64px;
  --mixin-gVZcxQoZhchc_line-height: 1;
  --mixin-gVZcxQoZhchc_letter-spacing: -1px;
  --mixin-gVZcxQoZhchc_white-space: pre-wrap;
  --mixin-pr2nKoBJzH2R_color: #000000;
  --mixin-pr2nKoBJzH2R_font-size: 48px;
  --mixin-pr2nKoBJzH2R_font-weight: 700;
  --mixin-pr2nKoBJzH2R_letter-spacing: -0.5px;
  --mixin-pr2nKoBJzH2R_line-height: 1.1;
  --mixin-pr2nKoBJzH2R_white-space: pre-wrap;
  --mixin-nb1l1VZx78bW_color: #0070f3;
  --mixin-nb1l1VZx78bW_white-space: pre-wrap;
  --mixin-kT2d_LwNsdhm_color: #000000;
  --mixin-kT2d_LwNsdhm_font-size: 32px;
  --mixin-kT2d_LwNsdhm_font-weight: 600;
  --mixin-kT2d_LwNsdhm_line-height: 1.2;
  --mixin-kT2d_LwNsdhm_white-space: pre-wrap;
  --mixin-WZwXZP_7MCQn_color: #000000;
  --mixin-WZwXZP_7MCQn_font-size: 24px;
  --mixin-WZwXZP_7MCQn_font-weight: 600;
  --mixin-WZwXZP_7MCQn_line-height: 1.3;
  --mixin-WZwXZP_7MCQn_white-space: pre-wrap;
  --mixin-JB2oVe3j1PML_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-JB2oVe3j1PML_border-bottom-color: #dddddd;
  --mixin-JB2oVe3j1PML_border-bottom-style: solid;
  --mixin-JB2oVe3j1PML_border-bottom-width: 1px;
  --mixin-JB2oVe3j1PML_border-left-color: #dddddd;
  --mixin-JB2oVe3j1PML_border-left-style: solid;
  --mixin-JB2oVe3j1PML_border-left-width: 1px;
  --mixin-JB2oVe3j1PML_border-right-color: #dddddd;
  --mixin-JB2oVe3j1PML_border-right-style: solid;
  --mixin-JB2oVe3j1PML_border-right-width: 1px;
  --mixin-JB2oVe3j1PML_border-top-color: #dddddd;
  --mixin-JB2oVe3j1PML_border-top-style: solid;
  --mixin-JB2oVe3j1PML_border-top-width: 1px;
  --mixin-JB2oVe3j1PML_border-bottom-left-radius: 3px;
  --mixin-JB2oVe3j1PML_border-bottom-right-radius: 3px;
  --mixin-JB2oVe3j1PML_border-top-left-radius: 3px;
  --mixin-JB2oVe3j1PML_border-top-right-radius: 3px;
  --mixin-JB2oVe3j1PML_font-family: "Inconsolata";
  --mixin-JB2oVe3j1PML_padding-bottom: 1px;
  --mixin-JB2oVe3j1PML_padding-left: 4px;
  --mixin-JB2oVe3j1PML_padding-right: 4px;
  --mixin-JB2oVe3j1PML_padding-top: 1px;
  --mixin-JB2oVe3j1PML_white-space: pre-wrap;
  --mixin-zZsbh1IiBL5R_border-left-color: #dddddd;
  --mixin-zZsbh1IiBL5R_border-left-style: solid;
  --mixin-zZsbh1IiBL5R_border-left-width: 3px;
  --mixin-zZsbh1IiBL5R_color: #888888;
  --mixin-zZsbh1IiBL5R_padding-left: 10px;
  --mixin-zZsbh1IiBL5R_white-space: pre-wrap;
  --mixin-CF7uQhM6CfAy_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-CF7uQhM6CfAy_border-bottom-color: #dddddd;
  --mixin-CF7uQhM6CfAy_border-bottom-style: solid;
  --mixin-CF7uQhM6CfAy_border-bottom-width: 1px;
  --mixin-CF7uQhM6CfAy_border-left-color: #dddddd;
  --mixin-CF7uQhM6CfAy_border-left-style: solid;
  --mixin-CF7uQhM6CfAy_border-left-width: 1px;
  --mixin-CF7uQhM6CfAy_border-right-color: #dddddd;
  --mixin-CF7uQhM6CfAy_border-right-style: solid;
  --mixin-CF7uQhM6CfAy_border-right-width: 1px;
  --mixin-CF7uQhM6CfAy_border-top-color: #dddddd;
  --mixin-CF7uQhM6CfAy_border-top-style: solid;
  --mixin-CF7uQhM6CfAy_border-top-width: 1px;
  --mixin-CF7uQhM6CfAy_border-bottom-left-radius: 3px;
  --mixin-CF7uQhM6CfAy_border-bottom-right-radius: 3px;
  --mixin-CF7uQhM6CfAy_border-top-left-radius: 3px;
  --mixin-CF7uQhM6CfAy_border-top-right-radius: 3px;
  --mixin-CF7uQhM6CfAy_font-family: "Inconsolata";
  --mixin-CF7uQhM6CfAy_padding-bottom: 3px;
  --mixin-CF7uQhM6CfAy_padding-left: 6px;
  --mixin-CF7uQhM6CfAy_padding-right: 6px;
  --mixin-CF7uQhM6CfAy_padding-top: 3px;
  --mixin-CF7uQhM6CfAy_white-space: pre-wrap;
  --mixin-lE8gXHMxffot_display: flex;
  --mixin-lE8gXHMxffot_flex-direction: column;
  --mixin-lE8gXHMxffot_align-items: stretch;
  --mixin-lE8gXHMxffot_justify-content: flex-start;
  --mixin-lE8gXHMxffot_list-style-position: outside;
  --mixin-lE8gXHMxffot_padding-left: 40px;
  --mixin-lE8gXHMxffot_position: relative;
  --mixin-lE8gXHMxffot_list-style-type: disc;
  --mixin-lE8gXHMxffot_white-space: pre-wrap;
  --mixin-XNrR13fFmXXl_display: flex;
  --mixin-XNrR13fFmXXl_flex-direction: column;
  --mixin-XNrR13fFmXXl_align-items: stretch;
  --mixin-XNrR13fFmXXl_justify-content: flex-start;
  --mixin-XNrR13fFmXXl_list-style-position: outside;
  --mixin-XNrR13fFmXXl_padding-left: 40px;
  --mixin-XNrR13fFmXXl_position: relative;
  --mixin-XNrR13fFmXXl_list-style-type: decimal;
  --mixin-XNrR13fFmXXl_white-space: pre-wrap;
  --mixin-iYoN6YsryZ6g_color: #000000;
  --mixin-iYoN6YsryZ6g_font-size: 20px;
  --mixin-iYoN6YsryZ6g_font-weight: 600;
  --mixin-iYoN6YsryZ6g_line-height: 1.5;
  --mixin-iYoN6YsryZ6g_white-space: pre-wrap;
  --mixin-5PQdApeS8RA8_color: #000000;
  --mixin-5PQdApeS8RA8_font-size: 16px;
  --mixin-5PQdApeS8RA8_font-weight: 600;
  --mixin-5PQdApeS8RA8_line-height: 1.5;
  --mixin-5PQdApeS8RA8_white-space: pre-wrap;
  --mixin-jEuZehmjjMrT_color: #3291ff;
  --mixin-jEuZehmjjMrT_white-space: pre-wrap;
  --mixin-JDzj6vLSO_zK_white-space: pre-wrap;
  --mixin-1xF9FNIFDwW4_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-HUsRLazyHgPm_font-family);
  font-size: var(--mixin-HUsRLazyHgPm_font-size);
  font-weight: var(--mixin-HUsRLazyHgPm_font-weight);
  font-style: var(--mixin-HUsRLazyHgPm_font-style);
  color: var(--mixin-HUsRLazyHgPm_color);
  text-align: var(--mixin-HUsRLazyHgPm_text-align);
  text-transform: var(--mixin-HUsRLazyHgPm_text-transform);
  line-height: var(--mixin-HUsRLazyHgPm_line-height);
  letter-spacing: var(--mixin-HUsRLazyHgPm_letter-spacing);
  white-space: var(--mixin-HUsRLazyHgPm_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-gVZcxQoZhchc_color);
  font-weight: var(--mixin-gVZcxQoZhchc_font-weight);
  font-size: var(--mixin-gVZcxQoZhchc_font-size);
  line-height: var(--mixin-gVZcxQoZhchc_line-height);
  letter-spacing: var(--mixin-gVZcxQoZhchc_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-pr2nKoBJzH2R_color);
  font-size: var(--mixin-pr2nKoBJzH2R_font-size);
  font-weight: var(--mixin-pr2nKoBJzH2R_font-weight);
  letter-spacing: var(--mixin-pr2nKoBJzH2R_letter-spacing);
  line-height: var(--mixin-pr2nKoBJzH2R_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-nb1l1VZx78bW_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-kT2d_LwNsdhm_color);
  font-size: var(--mixin-kT2d_LwNsdhm_font-size);
  font-weight: var(--mixin-kT2d_LwNsdhm_font-weight);
  line-height: var(--mixin-kT2d_LwNsdhm_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-WZwXZP_7MCQn_color);
  font-size: var(--mixin-WZwXZP_7MCQn_font-size);
  font-weight: var(--mixin-WZwXZP_7MCQn_font-weight);
  line-height: var(--mixin-WZwXZP_7MCQn_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-JB2oVe3j1PML_font-family);
  border-radius: var(--mixin-JB2oVe3j1PML_border-top-left-radius)
    var(--mixin-JB2oVe3j1PML_border-top-right-radius)
    var(--mixin-JB2oVe3j1PML_border-bottom-right-radius)
    var(--mixin-JB2oVe3j1PML_border-bottom-left-radius);
  padding: var(--mixin-JB2oVe3j1PML_padding-top)
    var(--mixin-JB2oVe3j1PML_padding-right)
    var(--mixin-JB2oVe3j1PML_padding-bottom)
    var(--mixin-JB2oVe3j1PML_padding-left);
  border-top: var(--mixin-JB2oVe3j1PML_border-top-width)
    var(--mixin-JB2oVe3j1PML_border-top-style)
    var(--mixin-JB2oVe3j1PML_border-top-color);
  border-right: var(--mixin-JB2oVe3j1PML_border-right-width)
    var(--mixin-JB2oVe3j1PML_border-right-style)
    var(--mixin-JB2oVe3j1PML_border-right-color);
  border-bottom: var(--mixin-JB2oVe3j1PML_border-bottom-width)
    var(--mixin-JB2oVe3j1PML_border-bottom-style)
    var(--mixin-JB2oVe3j1PML_border-bottom-color);
  border-left: var(--mixin-JB2oVe3j1PML_border-left-width)
    var(--mixin-JB2oVe3j1PML_border-left-style)
    var(--mixin-JB2oVe3j1PML_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-zZsbh1IiBL5R_color);
  padding-left: var(--mixin-zZsbh1IiBL5R_padding-left);
  border-left: var(--mixin-zZsbh1IiBL5R_border-left-width)
    var(--mixin-zZsbh1IiBL5R_border-left-style)
    var(--mixin-zZsbh1IiBL5R_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-CF7uQhM6CfAy_font-family);
  border-radius: var(--mixin-CF7uQhM6CfAy_border-top-left-radius)
    var(--mixin-CF7uQhM6CfAy_border-top-right-radius)
    var(--mixin-CF7uQhM6CfAy_border-bottom-right-radius)
    var(--mixin-CF7uQhM6CfAy_border-bottom-left-radius);
  padding: var(--mixin-CF7uQhM6CfAy_padding-top)
    var(--mixin-CF7uQhM6CfAy_padding-right)
    var(--mixin-CF7uQhM6CfAy_padding-bottom)
    var(--mixin-CF7uQhM6CfAy_padding-left);
  border-top: var(--mixin-CF7uQhM6CfAy_border-top-width)
    var(--mixin-CF7uQhM6CfAy_border-top-style)
    var(--mixin-CF7uQhM6CfAy_border-top-color);
  border-right: var(--mixin-CF7uQhM6CfAy_border-right-width)
    var(--mixin-CF7uQhM6CfAy_border-right-style)
    var(--mixin-CF7uQhM6CfAy_border-right-color);
  border-bottom: var(--mixin-CF7uQhM6CfAy_border-bottom-width)
    var(--mixin-CF7uQhM6CfAy_border-bottom-style)
    var(--mixin-CF7uQhM6CfAy_border-bottom-color);
  border-left: var(--mixin-CF7uQhM6CfAy_border-left-width)
    var(--mixin-CF7uQhM6CfAy_border-left-style)
    var(--mixin-CF7uQhM6CfAy_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-lE8gXHMxffot_display);
  flex-direction: var(--mixin-lE8gXHMxffot_flex-direction);
  align-items: var(--mixin-lE8gXHMxffot_align-items);
  justify-content: var(--mixin-lE8gXHMxffot_justify-content);
  list-style-position: var(--mixin-lE8gXHMxffot_list-style-position);
  padding-left: var(--mixin-lE8gXHMxffot_padding-left);
  position: var(--mixin-lE8gXHMxffot_position);
  list-style-type: var(--mixin-lE8gXHMxffot_list-style-type);
  flex-column-gap: var(--mixin-lE8gXHMxffot_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-XNrR13fFmXXl_display);
  flex-direction: var(--mixin-XNrR13fFmXXl_flex-direction);
  align-items: var(--mixin-XNrR13fFmXXl_align-items);
  justify-content: var(--mixin-XNrR13fFmXXl_justify-content);
  list-style-position: var(--mixin-XNrR13fFmXXl_list-style-position);
  padding-left: var(--mixin-XNrR13fFmXXl_padding-left);
  position: var(--mixin-XNrR13fFmXXl_position);
  list-style-type: var(--mixin-XNrR13fFmXXl_list-style-type);
  flex-column-gap: var(--mixin-XNrR13fFmXXl_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-iYoN6YsryZ6g_color);
  font-size: var(--mixin-iYoN6YsryZ6g_font-size);
  font-weight: var(--mixin-iYoN6YsryZ6g_font-weight);
  line-height: var(--mixin-iYoN6YsryZ6g_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-5PQdApeS8RA8_color);
  font-size: var(--mixin-5PQdApeS8RA8_font-size);
  font-weight: var(--mixin-5PQdApeS8RA8_font-weight);
  line-height: var(--mixin-5PQdApeS8RA8_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-jEuZehmjjMrT_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
